{% extends 'home.html' %}

{% block title %} | About Me {% endblock %}

{% block body %}
<section class="about-me">
    <p class="desc-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quidem est excepturi corrupti doloremque praesentium facilis enim autem sunt accusantium beatae doloribus, hic voluptatem, cum pariatur fugit ipsum quae minus.
    Aliquid recusandae perferendis aperiam. Id ipsam debitis consequatur dolore similique officia dignissimos voluptatum suscipit nihil nisi veniam magnam culpa saepe, officiis a aut ex praesentium autem nesciunt porro excepturi obcaecati.</p>
</section>
{% endblock %}