{% extends 'home.html' %}

{% block title %} | My Education {% endblock %}

{% block body %}
<section class="my-edu">
    <div class="desc-edu">
        <h2 class="title-edu">My Education</h2>
        <hr>
        <div class="school">
            <img src="../../static/img/300px-Logo_Almamater_UPI.svg.png" alt="UPI">
            <div class="detail-edu">
                <h3>Universitas Pendidikan Indonesia</h3>
                <p>Pendidikan Ilmu Komputer</p>
                <p>2023 - Present</p>
            </div>
        </div>
        <div class="school">
            <img src="../../static/img/logo sekolah.png" alt="SMAIT Harapan Umat Karawang">
            <div class="detail-edu">
                <h3>SMAIT Harapan Umat Karawang</h3>
                <p>Ilmu Pengetahuan Alam</p>
                <p>2020 - 2023</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}