{% extends 'home.html' %}

{% block title %} | My Experiences {% endblock %}

{% block body %}
<section class="my-exp">
    <div class="desc-exp">
        <h2 class="title-exp">My Experiences</h2>
        <hr>
        <div class="name">
            <img src="../../static/img/logo sekolah.png" alt="SMAIT Harapan Umat Karawang">
            <div class="detail-exp">
                <h3>Ketua Angkatan SMAIT Harapan Umat Karawang</h3>
                <p>SMAIT Harapan Umat Karawang</p>
                <p>2020 - 2023</p>
            </div>
        </div>
        <div class="name">
            <img src="../../static/img/logo sekolah.png" alt="SMAIT Harapan Umat Karawang">
            <div class="detail-exp">
                <h3>Peserta olimpiade fisika nasional</h3>
                <p>SMAIT Harapan Umat Karawang</p>
                <p>2022</p>
            </div>
        </div>
        <div class="name">
            <img src="../../static/img/osn.jpg" alt="OSN Matematika">
            <div class="detail-exp">
                <h3>Juara OSN Matematika tingkat kecamatan</h3>
                <p>SDN adiarsa timur 1</p>
                <p>2015</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}