* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: #fbd5a7;
}

h3{
    padding-top: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5a871;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 45px;
    background-color: #d5a871;
}

.nav-item a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 140%;
    background-color: #d5a871;
    padding-top: 8px;
    padding-left: 10px;
}

.nav-item a:hover {
    color: #d39f60;
    animation-delay: all 3s ease-in-out;
}

.profile-nav{
display: inline;
margin: 0 auto;
width: 5%;
max-height: 150px;
object-fit: cover;
border-radius: 50%;
border-bottom: 2px solid #222;
background-color: #d5a871;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    width: 18%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 20%;
    border-bottom: 2px solid #222;
}

.title, .job {
    text-align: center;
}

.title {
    margin-top: 20px;
}

.job {
    color: #96601d;
}

.contact {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 38px;
    gap: 10px;
}

.detail-contact {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.detail-contact a {
    margin-left: 8px;
    color: #222;
}

.about-me {
    text-align: center;
}

.desc-about {
    margin: 15px 100px;
}

.my-edu, .my-exp, .last-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-edu, .title-exp, .title-project, .title-skill {
    text-align: center;
}

.school, .name {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.school img, .name img {
    width: 60px;
    height: 60px;
    margin-right: 13px;
}

.detail-edu p, .detail-exp p, .project-list p {
    line-height: 1.6;
    font-size: medium;
}

hr {
    border: 1px solid black;
    margin-top: 10px;
}

.items {
    display: flex;
    align-items: center;
    line-height: 1.6;
    margin-top: 10px;
}

.project-items, .skill-items {
    list-style: none;
}

.title-skill {
    margin-top: 20px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.aktip:hover{
    background-color: #372106;
    padding: 10px;
    border-radius: 10px;
    animation-delay: all 3s ease-in-out;
}

li > div > a{
    padding-left: 10px;
    padding-right: 10px;
}
